.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: row;
  background-color: #282c34;
  height: 5dvh;
  min-height: 30px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  font-size: 16px;
  color: white;
}

.dashboardHeader {
  flex-direction: row;
  background-color: #282c34;
  min-height: 30px;
  height: 5dvh;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  font-size: 16px;
  color: white;
}

.HeaderButtons {
    display: flex;
    background-color: #23365a;
    flex: auto auto;
    border: 0 solid #e5e7eb;
    font-size: 15px;
    --tw-bg-opacity: 0.9;
    line-height: 30px;
    font-weight: 500;
    font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 10px;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.HeaderButtons:hover {
  background-color: yellow;
  color: rgb(32, 102, 47);  
}

.dashboardHeaderButtons {
  display: flex;
  flex-direction: row;
  flex: auto auto;
  border: 0 solid #e5e7eb;
  font-size: 15px;
  --tw-bg-opacity: 0.9;
  line-height: 30px;
  font-weight: 500;
  font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 10px;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
.dashboardHeaderButtons:hover {
  background-color: yellow;
}

.dropDownMenuSubItem {
  transition: all linear 0.3s;
  display: flex;
  flex: auto auto;
  border: 0 solid #e5e7eb;
  font-size: 15px;
  --tw-bg-opacity: 0.9;
  line-height: 30px;
  font-weight: 500;
  font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 10px;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
.dropDownMenuSubItem:hover {
  background-color: yellow;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.hazard{
  flex-basis: 5%;
  max-width: 5%;
  flex-grow: 0;
  border: 1px #282c34 solid;
  background-color: lightyellow;
}

.designChar{
  flex-basis: 5%;
  min-width: 5%;
  max-width: 5%;
  border: 1px #282c34 solid;
  background-color: yellow;
}

.lifeCycle{
  flex-basis: 5%;
  min-width: 5%;
  max-width: 5%;
  border: 1px #282c34 solid;
  background-color: yellowgreen;
}

.scenario{
  flex-basis: 10%;
  min-width: 10%;
  max-width: 10%;
  border: 1px #282c34 solid;
  background-color: green;
}

.hazardSit{
  flex-basis: 5%;
  min-width: 5%;
  max-width: 5%;
  border: 1px #282c34 solid;
  background-color: darkgreen;
}

.harm{
  flex-basis: 5%;
  min-width: 5%;
  max-width: 5%;
  border: 1px #282c34 solid;
  background-color: darkgreen;
}

.oneCharacter{
  flex-basis: 2%;
  min-width: 2%;
  max-width: 2%;
  border: 1px #282c34 solid;
  background-color: darkcyan;
}

.twoCharacter{
  flex-basis: 3%;
  min-width: 3%;
  max-width: 3%;
  border: 1px #282c34 solid;
  background-color:cyan;
}

.rcmRational{
  flex-basis: 10%;
  min-width: 10%;
  max-width: 10%;
  border: 1px #282c34 solid;
  background-color: green;
}
.rcmBox{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  min-width: 30%;
  max-width: 30%;
  border: 1px #282c34 solid;
  background-color: red;
  align-items: stretch;
}

.rcm{
  flex-basis: 100%;
  flex-grow: 1;
  border: 1px #282c34 solid;
  background-color: rgba(5, 98, 219, 0.836);
}
.LoginPage {
    display: flex;
    width: 100vw;
    height: 95vh;
    min-height: 450px;
    justify-content: flex-end;
    justify-items:center;
    color: none;
    background-color: yellow;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

.LoginBoxContainer {
    display: flex;
    min-width: 400px;
    width: 20vw;
    min-height:400px;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #323b3d;
    padding: 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
    margin: auto;
}

.LoginBoxLabels {
    display: flex;
    color: orange;
    justify-content: center;
    background-color: none;
    font-family: Arial;
    margin: 5% auto 1% auto;
}

.LoginBoxInputsContainer {
    display: flex;
    justify-content: center;
}

.LoginBoxInputs {
    display: flex;
    color: orange;
    justify-content: center;
    font-family: Arial;
    width: 30%;
    margin: 0% auto 5% auto;
}

.LoginBoxButton {
    display: flex;
    color: #323b3d;
    justify-content: center;
    background-color: orange;
    padding: 5px;
    margin: 5% auto 5% auto;
    width: 25%;
    font-family: Arial;
}

.ProjectsList {
  display: flex;
  flex-direction: column;
}

.WelcomePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95dvh;
  color: cyan;
}

.AboutPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95dvh;
  color: rgb(12, 7, 56);
  background-size: cover;
}

.h2center{
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  color: rgb(151, 7, 7);
  background-size: cover;
}